version: '3'

services:
  sonarqube:
    image: sonarqube:7.0
    environment:
      - SONARQUBE_JDBC_USERNAME=${DOCKER_SONAR_DB_USER:sonaruser}
      - SONARQUBE_JDBC_PASSWORD=${DOCKER_SONAR_DB_PASS:sonarpassword}
      - SONARQUBE_JDBC_URL=jdbc:postgresql://postgres:5432/${DOCKER_SONAR_DB_NAME:sonar}
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_bundled-plugins:/opt/sonarqube/lib/bundled-plugins
    ports:
      - "9000:9000"
    links:
      - postgres
    depends_on:
      - postgres

  postgres:
    image: postgres:10.3
    environment:
      - POSTGRES_USER=${DOCKER_SONAR_DB_USER:sonaruser}
      - POSTGRES_PASSWORD=${DOCKER_SONAR_DB_PASS:sonarpassword}
      - POSTGRES_DB=${DOCKER_SONAR_DB_NAME:sonar}
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data


volumes:
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_bundled-plugins:
  postgresql:
  postgresql_data:
